<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gabriel.mygarden">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".provider.PlantContentProvider"
            android:authorities="com.example.gabriel.mygarden"
            android:exported="true" />

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PlantDetailActivity"
            android:label="@string/title_activity_plant_detail" />
        <activity
            android:name=".ui.AddPlantActivity"
            android:label="@string/title_activity_add_plant" />

        <receiver android:name=".widget.MyGardenWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_garden_widget_provider_info" />
        </receiver>

        <service
            android:name=".widget.WaterPlantService"
            android:exported="false"/>

        <service
            android:name=".widget.GridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false"/>

    </application>

</manifest>